.panel-heading {
    background-color: #009900;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }
  
.table-header{
  background-color: #939393;
  color:#000000;
}

  th, th, td{
    text-align: center;
  }

  pagination-controls{
    text-align: center;
  }
  
  .employee-list-pagination /deep/ .ngx-pagination .current {
    background: #009900;
  }
  .pointer {cursor: pointer;}
  

  
  
  